table {
    width: 100%;
    margin-top: 20px;
}
  
table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
  
th {
    text-align: center;
}
  
td {
    text-align: center;
}

table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.table-primary {
    background-color: #b8daff !important;
}
  
th {
    text-align: center;
}
  
td {
    text-align: center;
}
  