<div>
    <form #formPessoa="ngForm">
      <input type="text" name="nome" placeholder="Nome" [(ngModel)]="pessoa.nome" required />
      <input type="date" name="dataNascimento" [(ngModel)]="pessoa.dataNascimento" required />
      <input type="text" name="cpf" placeholder="CPF" [(ngModel)]="pessoa.cpf" required />
      <select name="sexo" [(ngModel)]="pessoa.sexo" required>
        <option value="MASCULINO">Masculino</option>
        <option value="FEMININO">Feminino</option>
      </select>
      <input type="number" name="altura" placeholder="Altura" [(ngModel)]="pessoa.altura" required />
      <input type="number" name="peso" placeholder="Peso" [(ngModel)]="pessoa.peso" required />
  
      <button (click)="incluir()">Incluir</button>
      <button (click)="alterar()" [disabled]="!isSelected">Alterar</button>
      <button (click)="excluir()" [disabled]="!isSelected">Excluir</button>
      <button (click)="pesquisar()">Pesquisar</button>
      <button (click)="calcularPesoIdeal()" [disabled]="!isSelected">Calcular Peso Ideal</button>
    </form>
</div>
  